astroid==4.0.2
dill==0.4.0
flake8==7.3.0
iniconfig==2.3.0
isort==7.0.0
mccabe==0.7.0
packaging==25.0
platformdirs==4.5.0
pluggy==1.6.0
pycodestyle==2.14.0
pyflakes==3.4.0
Pygments==2.19.2
pylint==4.0.2
pytest==9.0.0
tomlkit==0.13.3
inquirerpy==0.3.4
pfzy==0.3.4
prompt_toolkit==3.0.52
wcwidth==0.2.14
pytest-cov==5.0.0
flake8-docstrings==1.7.0
pydocstyle==6.3.0
sphinx==7.1.2
